

.navbar{
    background: crimson;
    font-family: 'Poppins', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600px;
    color: white;
}
.li{
    list-style: none;
    display: inline-block;
}
.li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}